<!DOCTYPE html>
<html lang="en">

<head>
    <title>App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/index">Logout</a>
                </li>
                <li role="presentation" class="active"><a href="/edit">Edit details</a>
                </li>
                
              
                <h1>Sucessfully logged in as {{name}}</h1>

           
            <table>
                {% for key,value in data.items() %}
                {% if key!="password" and key!="_id" %}
              <tr>
                <th>
                    {{ key }}
                </th>
                <th>
                    {{ value }}
                </th>
              </tr>
              {% endif %}
             
              {% endfor %}
            </table>

            
           
                
            </ul>
        </nav>
        

   

</div>
</body>

</html>